/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

* {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  margin: 0;
  padding-top: 60px;
}

.m-0 {
  margin: 0
}

.p-0 {
  padding: 0
}

.w-100 {
  width: 100%;
}

.p-inline-message.p-inline-message-error {
  width: 100%;
  justify-content: flex-start;
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.2rem 1rem;
}

.p-panel .p-panel-header {
  background: #e9e9f3;
}

.p-panel .p-panel-content {
  padding: 0
}

.p-error {
  position: absolute;
  margin-top: 40px;
}
